html {
  font-size: 62.5%;
}

body {
  padding: 1rem 0 0 1rem;
}

h1,
h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

section {
  margin-bottom: 2rem;
}

.main-ul {
  font-size: 2rem;
  padding-left: 4rem;
}

ul {
  padding: 1rem 1rem 1rem 4rem;
}

li {
  margin-left: 1rem;
  list-style: disc;
}

table {
  font-size: 2rem;
  margin-bottom: 1rem;
}

tr {
  line-height: 1.6;
}

td {
  padding-right: 1rem;
}

.ul-style {
  background-color: #d3d3d3;
}

.a-style {
  text-decoration-style: dotted;
  color: red;
}

.display-flex {
  display: flex;
  flex-direction: row;
}

.table-first tr:nth-child(even) {
  background-color: #d3d3d3;
}

.table-second tr:nth-child(odd) {
  background-color: #d3d3d3;
}
