html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  padding: 1rem 0 0 1rem;
}

h1,
h2 {
  font-family: "Faster One", cursive;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
section article {
  margin-bottom: 2rem;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 700px) {
  section {
    flex-direction: row;
    justify-content: center;
  }

  section article {
    margin-right: 2rem;
    /* border: 1px solid black; */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 5px 13px -3px rgba(0, 0, 0, 0.75);
    background-color: rgb(228, 228, 228);
  }
}
