* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #de1526;
  height: 4rem;
}

nav {
  background-color: #f28f31;
  height: 4rem;
}

.container {
  overflow: hidden;
}

.column {
  background-color: #ffbf16;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}

section {
  background-color: #ffbf16;
  float: left;
  width: 50%;
  padding-block-end: 1rem;
}

article {
  background-color: #77c043;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  margin-block-end: 1rem;
}

#article1 {
}

#article2 {
}

#aside {
  background-color: #086eb2;
  float: left;
  width: 50%;
}

footer {
  background-color: #932d8d;
  clear: both;
  height: 4rem;
}

p {
  padding: 1rem;
}
